{extend name="Public:public" /}
{block name="title"}疾风科技-友情链接修改{/block}
{block name="man"}
<div class="card">
                        <div class="header">
                            <h2>
                               友情链接修改
                            </h2>
                        </div>
                        <div class="body">
                            <form class="form-horizontal" id="role_form" method="post" action="/adminlink/update">
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="email_address_2">网站名称</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="email_address_2" name="webname" class="form-control" placeholder="" value="{$data['webname']}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="email_address_2">网站地址</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="email_address_2" name="url" class="form-control" placeholder="" value="{$data['url']}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="email_address_2">联系人</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="email_address_2" name="name" class="form-control" placeholder="" value="{$data['name']}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="id" value="{$data['id']}">
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="password_2">手机号</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input  type="text" name="phone" id="phone" class="form-control" value="{$data['phone']}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                                        <input type="radio" id="ig_radio" {if condition = "$data['status'] == 0"}checked{/if} name="status" value="0" class="with-gap">
                                        <label for="ig_radio">开启</label>
                                        <input type="radio" id="ig_radioss" {if condition = "$data['status'] == 1"}checked{/if} name="status" value="1" class="with-gap">
                                        <label for="ig_radioss">审核中</label>
                                        <input type="radio" id="ig_radios" {if condition = "$data['status'] == 2"}checked{/if} name="status" value="2" class="with-gap">
                                        <label for="ig_radios">禁用</label>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                                        <button type="button" id="submit" class="btn btn-primary m-t-15 waves-effect">修改</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
{/block}
{block name="myjs"}
<script>

  $('#submit').click(function(){
    $('#role_form').ajaxSubmit(function(data){
        if(data.code > '0'){
           iziToast.error({timeout: 1000,title: '友情提示',message:data.msg});
           setTimeout(function(){
                      location.href=data['url'];
                    },1000);
        }else {
           iziToast.error({timeout: 3000,title: '友情提示',message:data.msg});
        }
    });
});
</script>
{/block}