{extend name="Public:public" /}
{block name="title"}疾风科技-文章修改{/block}
{block name="man"}
<div class="card">
                        <div class="header">
                            <h2>
                               文章修改
                            </h2>
                        </div>
                        <div class="body">
                            <form class="form-horizontal" id="role_form" method="post" action="/adminarticle/update">
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="email_address_2">标题</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="email_address_2" name="title" value="{$data['title']}" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="email_address_3">关键词</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="email_address_3" name="keywords" value="{$data['keywords']}" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="email_address_4">内容描述</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="email_address_4" name="description" value="{$data['description']}" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               	<input type="hidden" name="id" value="{$data['id']}">
                                <input type="hidden" name="addtime" value="{$data['addtime']}">
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="password_2">缩率图</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                 <input  type="file" name="pic" id="file" class="form-control" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label for="password_2">内容</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                 <script id="content" type="text/plain"  name="descr" style="width:900px;height:350px;">{$data['descr']}</script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                                        <button type="button" id="submit" class="btn btn-primary m-t-15 waves-effect">修改</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
{/block}
{block name="myjs"}
<script>
	$('#submit').click(function(){
    $('#role_form').ajaxSubmit(function(data){
        if(data.code > '0'){
           iziToast.error({timeout: 1000,title: '友情提示',message:data.msg});
           setTimeout(function(){
                      location.href=data['url'];
                    },1000);
        }else {
           iziToast.error({timeout: 3000,title: '友情提示',message:data.msg});
        }
    });
});
</script>
<script type="text/javascript" charset="utf-8" src="/static/bbs/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/bbs/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="/static/bbs/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
 
  //实例化编辑器
 //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
 var ue = UE.getEditor('content', { zIndex: 0});
</script>
{/block}